/* Home */

/* Hide Tabs */
html[data-zm-yt_home_hideTabs] #primary #header {
  display: none !important;
}
html[data-zm-yt_home_hideTabs] #frosted-glass.with-chipbar.ytd-app {
  height: 56px !important;
}

/* Hide All Videos */
html[data-zm-yt_home_hideAllVideos] #primary #contents.ytd-rich-grid-renderer {
  display: none !important;
}

/* Hide Shorts */
html[data-zm-yt_home_hideShorts] ytd-rich-section-renderer:has(ytd-rich-shelf-renderer) {
  display: none !important;
}

/* Hide Ads */
html[data-zm-yt_home_hideAds] ytd-rich-section-renderer:has(ytd-ad-slot-renderer) {
  display: none !important;
}

/* Header */

/* Hide Sidebar Button */
html[data-zm-yt_header_hideSidebar] yt-icon-button#guide-button,
html[data-zm-yt_header_hideSidebar] tp-yt-app-drawer#guide,
html[data-zm-yt_header_hideSidebar] ytd-mini-guide-renderer {
  display: none !important;
}

html[data-zm-yt_header_hideSidebar] ytd-app {
  --ytd-persistent-guide-width: 0px !important;
  --ytd-mini-guide-width: 0px !important;
}

/* Hide Youtube Logo */
html[data-zm-yt_header_hideYoutubeLogo] ytd-topbar-logo-renderer#logo {
  display: none !important;
}

/* Hide Search Bar */
html[data-zm-yt_header_hideSearchBar] yt-searchbox.ytd-masthead {
  display: none !important;
}

/* Hide Mircophone Search Icon */
html[data-zm-yt_header_hideMircophoneSearchIcon] #voice-search-button {
  display: none !important;
}

/* Hide Create Icon */
html[data-zm-yt_header_hideCreateIcon] #buttons ytd-button-renderer.ytd-masthead {
  display: none !important;
}

/* Hide Notifications Icon */
html[data-zm-yt_header_hideNotificationsIcon] #buttons ytd-notification-topbar-button-renderer.ytd-masthead {
  display: none !important;
}

/* Hide Account Icon */
html[data-zm-yt_header_hideAccountIcon] #buttons ytd-topbar-menu-button-renderer.ytd-masthead {
  display: none !important;
}

/* Sidebar */

/* Hide Home Panel */
html[data-zm-yt_sidebar_hideHomePanel] ytd-guide-section-renderer:has(a[href="/"]),
html[data-zm-yt_sidebar_hideHomePanel] ytd-mini-guide-entry-renderer:has(a[href="/"]),
html[data-zm-yt_sidebar_hideHomePanel] ytd-mini-guide-entry-renderer:has(a[href="/shorts/"]) {
  display: none !important;
}

/* Hide Home Button */
html[data-zm-yt_sidebar_hideHomeButton] ytd-guide-entry-renderer:has(a[href="/"]),
html[data-zm-yt_sidebar_hideHomeButton] ytd-mini-guide-entry-renderer:has(a[href="/"]) {
  display: none !important;
}

/* Hide Shorts Button */
html[data-zm-yt_sidebar_hideShortsButton] ytd-guide-entry-renderer:has(a[title="Shorts"]),
html[data-zm-yt_sidebar_hideShortsButton] ytd-mini-guide-entry-renderer:has(a[href="/shorts/"]) {
  display: none !important;
}

/* Hide Subscriptions Panel */
html[data-zm-yt_sidebar_hideSubscriptionsPanel] ytd-guide-section-renderer:has(a[href="/feed/subscriptions"]),
html[data-zm-yt_sidebar_hideSubscriptionsPanel] ytd-mini-guide-entry-renderer:has(a[href="/feed/subscriptions"]) {
  display: none !important;
}

/* Hide You Panel */
html[data-zm-yt_sidebar_hideYouPanel] ytd-guide-section-renderer:has(a[href="/feed/you"]),
html[data-zm-yt_sidebar_hideYouPanel] ytd-mini-guide-entry-renderer:has(a[href="/feed/you"]) {
  display: none !important;
}

/* Hide You Button */
html[data-zm-yt_sidebar_hideYouButton] ytd-guide-collapsible-section-entry-renderer #header:has(a[href="/feed/you"]),
html[data-zm-yt_sidebar_hideYouButton] ytd-mini-guide-entry-renderer:has(a[href="/feed/you"]) {
  display: none !important;
}

/* Hide History Button */
html[data-zm-yt_sidebar_hideHistoryButton] ytd-guide-entry-renderer:has(a[href="/feed/history"]) {
  display: none !important;
}

/* Hide Playlists Button */
html[data-zm-yt_sidebar_hidePlaylistsButton] ytd-guide-entry-renderer:has(a[href="/feed/playlists"]) {
  display: none !important;
}

/* Hide Watch Later Button */
html[data-zm-yt_sidebar_hideWatchLaterButton] ytd-guide-entry-renderer:has(a[href="/playlist?list=WL"]) {
  display: none !important;
}

/* Hide Liked Videos Button */
html[data-zm-yt_sidebar_hideLikedVideosButton] ytd-guide-entry-renderer:has(a[href="/playlist?list=LL"]) {
  display: none !important;
}

/* Hide Your Videos Button */
html[data-zm-yt_sidebar_hideYourVideosButton] ytd-guide-entry-renderer:has(a[href*="studio.youtube.com"][href*="/videos"]) {
  display: none !important;
}

/* Hide Downloads Button */
html[data-zm-yt_sidebar_hideDownloadsButton] ytd-guide-entry-renderer:has(a[href="/feed/downloads"]) {
  display: none !important;
}

/* Hide Clips Button */
html[data-zm-yt_sidebar_hideClipsButton] #guide-content ytd-guide-collapsible-entry-renderer:has(#expanded) {
  display: none !important;
}

/* Hide Explore Panel */
html[data-zm-yt_sidebar_hideExplorePanel] ytd-guide-section-renderer:has(a[href*="UC-9-kyTW8ZkZNDHQJ6FgpwQ"]) {
  display: none !important;
}

/* Hide Youtube Panel */
html[data-zm-yt_sidebar_hideYoutubePanel] ytd-guide-section-renderer:has(a[href*="music.youtube.com"]) {
  display: none !important;
}

/* Hide Settings Panel */
html[data-zm-yt_sidebar_hideSettingsPanel] ytd-guide-section-renderer:has(a[href="/account"]) {
  display: none !important;
}

/* Hide Footer */
html[data-zm-yt_sidebar_hideFooter] #footer:has(#guide-links-primary) {
  display: none !important;
}

/* Search */

/* Hide Shorts */
html[data-zm-yt_search_hideShorts] grid-shelf-view-model {
  display: none !important;
}

/* Hide People Also Search For */
html[data-zm-yt_search_hidePeopleAlsoSearchFor] ytd-horizontal-card-list-renderer:has(ytd-search-refinement-card-renderer) {
  display: none !important;
}

/* Video */

/* Hide Title */
html[data-zm-yt_video_hideTitle] #above-the-fold #title.ytd-watch-metadata {
  display: none !important;
}

/* Hide Subscribers Count */
html[data-zm-yt_video_hideSubscribersCount] yt-formatted-string#owner-sub-count {
  display: none !important;
}

/* Hide Join Button */
html[data-zm-yt_video_hideJoinButton] #sponsor-button {
  display: none !important;
}

/* Hide Subscribe Button */
html[data-zm-yt_video_hideSubscribeButton] yt-button-shape#subscribe-button-shape {
  display: none !important;
}

/* Hide Subscribed Button */
html[data-zm-yt_video_hideSubscribedButton] #notification-preference-button {
  display: none !important;
}

/* Hide Likes/Dislikes Button */
html[data-zm-yt_video_hideLikesDislikesButton] segmented-like-dislike-button-view-model {
  display: none !important;
}

/* Hide Share Button */
html[data-zm-yt_video_hideShareButton] #top-level-buttons-computed yt-button-view-model {
  display: none !important;
}

/* Hide Save Button */
html[data-zm-yt_video_hideSaveButton] #flexible-item-buttons yt-button-view-model:has(path[d="M19 2H5a2 2 0 00-2 2v16.887c0 1.266 1.382 2.048 2.469 1.399L12 18.366l6.531 3.919c1.087.652 2.469-.131 2.469-1.397V4a2 2 0 00-2-2ZM5 20.233V4h14v16.233l-6.485-3.89-.515-.309-.515.309L5 20.233Z"]),
html[data-zm-yt_video_hideSaveButton] ytd-menu-service-item-renderer:has(path[d="M19 2H5a2 2 0 00-2 2v16.887c0 1.266 1.382 2.048 2.469 1.399L12 18.366l6.531 3.919c1.087.652 2.469-.131 2.469-1.397V4a2 2 0 00-2-2ZM5 20.233V4h14v16.233l-6.485-3.89-.515-.309-.515.309L5 20.233Z"]) {
  display: none !important;
}

/* Hide Thanks Button */
html[data-zm-yt_video_hideThanksButton] #flexible-item-buttons yt-button-view-model:has(path[d="M16.25 2A6.7 6.7 0 0012 3.509 6.75 6.75 0 001 8.75c0 4.497 2.784 7.818 5.207 9.87a23.498 23.498 0 004.839 3.143l.096.044.03.013.01.005.003.002.002.001c.273-.609.544-1.218.813-1.828 0 0-9-4-9-11.25a4.75 4.75 0 018.932-2.247A1 1 0 0011 7.5v.638c-.357.1-.689.26-.979.49A2.35 2.35 0 009.13 10.5c-.007.424.112.84.342 1.197.21.31.497.563.831.734.546.29 1.23.411 1.693.502.557.109.899.19 1.117.315.086.048.109.082.114.09.004.006.028.045.028.162 0 .024-.008.118-.165.235-.162.122-.5.27-1.09.27-.721 0-1.049-.21-1.181-.323a.6.6 0 01-.142-.168l.005.013.006.014.002.009a.996.996 0 00-1.884.64l.947-.316-.003.001c-.875.292-.939.314-.943.317l.001.003.003.006.004.015.012.032c.045.111.1.218.162.321.146.236.324.444.535.624.357.306.841.566 1.476.702v.605a1 1 0 002 0v-.614c1.29-.289 2.245-1.144 2.245-2.386 0-.44-.103-.852-.327-1.212-.22-.355-.52-.6-.82-.77-.555-.316-1.244-.445-1.719-.539-.567-.111-.915-.185-1.143-.305a.5.5 0 01-.1-.07l-.004-.003-.003-.009a.4.4 0 01-.009-.092c0-.158.053-.244.14-.314.109-.086.341-.19.74-.19.373-.001.73.144.997.404a.996.996 0 001.518-1.286l-.699.58.698-.582v-.001l-.002-.001-.002-.003-.006-.006-.016-.018a2.984 2.984 0 00-.178-.182A3.45 3.45 0 0013 8.154V7.5a1 1 0 00-.933-.997A4.75 4.75 0 0121 8.75C21 16 12 20 12 20l.813 1.827.002-.001.003-.001.01-.005.029-.013.097-.045c.081-.037.191-.09.33-.16a23.5 23.5 0 004.509-2.982C20.216 16.568 23 13.248 23 8.75A6.75 6.75 0 0016.25 2Zm-3.437 19.827L12 20l-.813 1.828.813.36.813-.361Z"]),
html[data-zm-yt_video_hideThanksButton] ytd-menu-service-item-renderer:has(path[d="M16.25 2A6.7 6.7 0 0012 3.509 6.75 6.75 0 001 8.75c0 4.497 2.784 7.818 5.207 9.87a23.498 23.498 0 004.839 3.143l.096.044.03.013.01.005.003.002.002.001c.273-.609.544-1.218.813-1.828 0 0-9-4-9-11.25a4.75 4.75 0 018.932-2.247A1 1 0 0011 7.5v.638c-.357.1-.689.26-.979.49A2.35 2.35 0 009.13 10.5c-.007.424.112.84.342 1.197.21.31.497.563.831.734.546.29 1.23.411 1.693.502.557.109.899.19 1.117.315.086.048.109.082.114.09.004.006.028.045.028.162 0 .024-.008.118-.165.235-.162.122-.5.27-1.09.27-.721 0-1.049-.21-1.181-.323a.6.6 0 01-.142-.168l.005.013.006.014.002.009a.996.996 0 00-1.884.64l.947-.316-.003.001c-.875.292-.939.314-.943.317l.001.003.003.006.004.015.012.032c.045.111.1.218.162.321.146.236.324.444.535.624.357.306.841.566 1.476.702v.605a1 1 0 002 0v-.614c1.29-.289 2.245-1.144 2.245-2.386 0-.44-.103-.852-.327-1.212-.22-.355-.52-.6-.82-.77-.555-.316-1.244-.445-1.719-.539-.567-.111-.915-.185-1.143-.305a.5.5 0 01-.1-.07l-.004-.003-.003-.009a.4.4 0 01-.009-.092c0-.158.053-.244.14-.314.109-.086.341-.19.74-.19.373-.001.73.144.997.404a.996.996 0 001.518-1.286l-.699.58.698-.582v-.001l-.002-.001-.002-.003-.006-.006-.016-.018a2.984 2.984 0 00-.178-.182A3.45 3.45 0 0013 8.154V7.5a1 1 0 00-.933-.997A4.75 4.75 0 0121 8.75C21 16 12 20 12 20l.813 1.827.002-.001.003-.001.01-.005.029-.013.097-.045c.081-.037.191-.09.33-.16a23.5 23.5 0 004.509-2.982C20.216 16.568 23 13.248 23 8.75A6.75 6.75 0 0016.25 2Zm-3.437 19.827L12 20l-.813 1.828.813.36.813-.361Z"]) {
  display: none !important;
}

/* Hide Download Button */
html[data-zm-yt_video_hideDownloadButton] #flexible-item-buttons yt-button-view-model:has(path[d="M12 2a1 1 0 00-1 1v11.586l-4.293-4.293a1 1 0 10-1.414 1.414L12 18.414l6.707-6.707a1 1 0 10-1.414-1.414L13 14.586V3a1 1 0 00-1-1Zm7 18H5a1 1 0 000 2h14a1 1 0 000-2Z"]),
html[data-zm-yt_video_hideDownloadButton] ytd-menu-service-item-download-renderer:has(path[d="M12 2a1 1 0 00-1 1v11.586l-4.293-4.293a1 1 0 10-1.414 1.414L12 18.414l6.707-6.707a1 1 0 10-1.414-1.414L13 14.586V3a1 1 0 00-1-1Zm7 18H5a1 1 0 000 2h14a1 1 0 000-2Z"]) {
  display: none !important;
}

/* Hide Report Button */
html[data-zm-yt_video_hideReportButton] ytd-menu-service-item-renderer:has(path[d="m4 2.999-.146.073A1.55 1.55 0 003 4.454v16.545a1 1 0 102 0v-6.491a7.26 7.26 0 016.248.115l.752.376a8.94 8.94 0 008 0l.145-.073c.524-.262.855-.797.855-1.382V4.458a1.21 1.21 0 00-1.752-1.083 7.26 7.26 0 01-6.496 0L12 2.999a8.94 8.94 0 00-8 0Zm7.105 1.79v-.002l.752.376A9.26 9.26 0 0019 5.641v7.62a6.95 6.95 0 01-6.105-.052l-.752-.376A9.261 9.261 0 005 12.355v-7.62a6.94 6.94 0 016.105.054Z"]) {
  display: none !important;
}

/* Hide Collasped Button */
html[data-zm-yt_video_hideCollaspedButton] #actions-inner yt-button-shape#button-shape {
  display: none !important;
}

/* Hide Description */
html[data-zm-yt_video_hideDescription] #bottom-row {
  display: none !important;
}

/* Hide Game And Category */
html[data-zm-yt_video_hideGameAndCategory] #below ytd-metadata-row-container-renderer:has(#always-shown ytd-rich-metadata-row-renderer) {
  display: none !important;
}

/* Hide Comments */
html[data-zm-yt_video_hideComments] #comments {
  display: none !important;
}

/* Hide Comments Avatars */
html[data-zm-yt_video_hideCommentsAvatars] #comments #author-thumbnail-button {
  display: none !important;
}

/* Hide Comments Replies */
html[data-zm-yt_video_hideCommentsReplies] #comments #replies:has(ytd-comment-replies-renderer) {
  display: none !important;
}

/* Hide Ad Panel */
html[data-zm-yt_video_hideAdPanel] #secondary #player-ads {
  display: none !important;
}

/* Hide Suggested Videos Tabs */
html[data-zm-yt_video_hideSuggestedVideosTabs] #secondary ytd-watch-next-secondary-results-renderer #items yt-related-chip-cloud-renderer {
  display: none !important;
}

/* Hide Suggested Videos */
html[data-zm-yt_video_hideSuggestedVideos] #secondary ytd-watch-next-secondary-results-renderer {
  display: none !important;
}

/* Subscriptions */

/* Hide Shorts */
html[data-zm-yt_subscriptions_hideShorts] ytd-rich-section-renderer:has(ytd-rich-shelf-renderer) {
  display: none !important;
}

